{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Demonstração Financeira{% endblock %}

{% block conteudo %}
<!-- Navbar -->
{% include 'base/navbar.html' %}

<div class="container mt-4">
  <div class="card shadow rounded p-4">

    <!-- Cabeçalho -->

    <div class="row mb-4">
      <div class="col-md-9">
        <div class="fw-bold" style="font-size: 1.05rem;">
          {{ fundo.nome|upper }}
        </div>
        <div class="fw-bold">
          CNPJ: {{ fundo.cnpj }}
        </div>
        <div class="mt-2">
          {{ fundo.empresa.nome }}
        </div>
        <div>
          CNPJ: {{ fundo.empresa.cnpj }}
        </div>
        <div class="fw-bold mt-3">
          Demonstração do Resultado do Exercício
        </div>
        <div class="fw-bold">
          Exercícios findos em 31 de dezembro de {{ ano }} e {{ ano|add:"-1" }}
        </div>
        <div class="fst-italic" style="font-size: 0.85rem;">
          (Valores expressos em milhares de reais)
        </div>
      </div>
      <div class="col-md-3 text-end">
        <a href="{% url 'exportar_dre_excel' fundo.id ano %}" class="btn btn-success">Baixar DRE em Excel <i class="bi bi-file-earmark-excel-fill ms-2"></i></a>
      </div>
    </div>

    <!-- Tabela com os dados -->
    <table class="table table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <th style="width: 80%">Descrição</th>
          <th style="width: 10%" class="text-end">31/12/{{ ano }}</th>
          <th style="width: 10%" class="text-end">31/12/{{ ano|add:"-1" }}</th>
        </tr>
      </thead>
      <tbody>
        {% for grupo, valores in dict_tabela.items %}
          <tr class="table-secondary fw-bold">
            <td colspan="1">{{ grupo }}</td>
            <td class="text-end">{{ valores.SOMA|formata_milhar }}</td>
            <td class="text-end">{{ valores.SOMA_ANTERIOR|formata_milhar }}</td>
          </tr>
          {% for subgrupo, val in valores.items %}
            {% if subgrupo != 'SOMA' and subgrupo != 'SOMA_ANTERIOR' %}
              <tr>
                <td>{{ subgrupo }}</td>
                <td class="text-end">{{ val.ATUAL|formata_milhar }}</td>
                <td class="text-end">{{ val.ANTERIOR|formata_milhar }}</td>
              </tr>
            {% endif %}
          {% endfor %}

          <tr class="border-top">
            <td colspan="3" style="background-color: #F7F3E3; border-left: none; border-right: none;"></td>
          </tr>

        {% endfor %}

        <!-- Resultado do exercício -->
        <tr class="table-secondary fw-bold">
          <td>Resultado do exercício</td>
          <td class="text-end">{{ resultado_exercicio|formata_milhar }}</td>
          <td class="text-end">{{ resultado_exercicio_anterior|formata_milhar }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
