{% load humanize custom_tags %}

<table class="table table-bordered table-sm mt-3 align-middle text-end">
  <thead class="table-light">
    <tr>
      <th class="text-start">Descrição</th>
      <th>{{ data_atual|date:"d/m/Y" }}</th>
      <th>{{ data_anterior|date:"d/m/Y" }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-start">Quantidade de cotas no início</td>
      <td>{{ dados_dmpl.qtd_cotas_inicio }}</td>
      <td>{{ dados_dmpl.qtd_cotas_inicio_ant }}</td>
    </tr>
    <tr>
      <td class="text-start">Quantidade de cotas no final</td>
      <td>{{ dados_dmpl.qtd_cotas_fim }}</td>
      <td>-</td>
    </tr>
    <tr>
      <td class="text-start">Valor unitário da cota (R$)</td>
      <td>{{ dados_dmpl.cota_fim }}</td>
      <td>{{ dados_dmpl.cota_inicio_ant }}</td>
    </tr>
    <tr>
      <td class="text-start">Aplicações de cotas (R$ mil)</td>
      <td>{{ dados_dmpl.aplicacoes_valor }}</td>
      <td>{{ dados_dmpl.aplicacoes_valor_ant }}</td>
    </tr>
    <tr>
      <td class="text-start">Resgates de cotas (R$ mil)</td>
      <td>{{ dados_dmpl.resgates_valor }}</td>
      <td>{{ dados_dmpl.resgates_valor_ant }}</td>
    </tr>
    <tr class="table-secondary fw-bold">
      <td class="text-start">Patrimônio líquido antes do resultado</td>
      <td>{{ dados_dmpl.pl_antes_resultado_periodo }}</td>
      <td>{{ dados_dmpl.valor_ultimo_ant }}</td>
    </tr>
  </tbody>
</table>
